html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  overflow: auto;
}

.main .title {
  color: darkslategrey;
}

.main .container {
  margin: 10px 0 0 0;
  width: 90vw;
  max-height: 70vh;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  flex-wrap: wrap;
  overflow-y: auto;
  min-height: 0px;
}

.main .container .inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: 2px solid gold;
  border-radius: 50%;
  padding: 35px;
  height: 3em;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 80vw;
}

.main .container .output {
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: fit-content;
}

.main .container .output .box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  padding: 0.5rem;
  margin: 0 0 20px 0;
  border: 2px solid black;
  cursor: pointer;
  overflow: hidden;
}

.main .container .inputs .box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2em;
  width: 4em;
  padding: 0.5em;
  border: 2px solid black;
  cursor: pointer;
}

.main .container .output .blue {
  color: #44778c;
  border: 2px solid skyblue;
}

.main .container .output .tie {
  color: green;
  border: 2px solid lightgreen;
}

.main .container .output .red {
  color: darkred;
  border: 2px solid red;
}

.main .container .inputs .blue {
  margin-right: 25px;
  color: #247bb7;
}

.main .container .inputs .tie {
  margin-right: 25px;
  color: limegreen;
}

.main .container .inputs .red {
  color: red;
}

.arrow {
  margin-top: 8px;
  margin-left: 14px;
  margin-right: 1.2px;
  display: inline-block;
  height: 6px;
  position: relative;
  width: 6px;
}
.arrow::after {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-right-style: solid;
  border-right-width: 2px;
  content: "";
  display: inline-block;
  left: 0;
  position: absolute;
  top: 0;
}
.arrow.is-triangle::after {
  border-style: solid;
  border-width: 0 0 6px 6px;
  height: 0;
  width: 0;
}
.arrow.is-check::after {
  width: 6px;
}
.arrow.arrow-bar::before {
  bottom: 1px;
  content: "";
  height: 20px;
  position: absolute;
  right: 0;
  transform-origin: bottom;
  width: 2px;
  transform: rotate(-45deg);
}
.arrow.is-top {
  transform: rotate(225deg);
}
.arrow.is-right {
  transform: rotate(315deg);
}
.arrow.is-bottom {
  transform: rotate(45deg);
}
.arrow.is-left {
  transform: rotate(135deg);
}

.arrow.is-triangle::after,
.arrow .arrow.is-triangle::after {
  border-color: transparent;
  border-bottom-color: lightgrey;
}
.arrow::before,
.arrow .arrow::before {
  background-color: lightgrey;
}

.arrow.is-triangle.blue-arrow::after,
.arrow .arrow.is-triangle.blue-arrow::after {
  border-color: transparent;
  border-bottom-color: skyblue;
}
.arrow.blue-arrow::before,
.arrow.blue-arrow.arrow::before {
  background-color: skyblue;
}

.arrow.is-triangle.green-arrow::after,
.arrow .arrow.is-triangle.green-arrow::after {
  border-color: transparent;
  border-bottom-color: lightgreen;
}
.arrow.green-arrow::before,
.arrow.green-arrow.arrow::before {
  background-color: lightgreen;
}

.arrow.is-triangle.red-arrow::after,
.arrow .arrow.is-triangle.red-arrow::after {
  border-color: transparent;
  border-bottom-color: red;
}
.arrow.red-arrow::before,
.arrow.red-arrow.arrow::before {
  background-color: red;
}

.footer {
  color: dimgrey;
  font-size: 11px;
  display: flex;
  justify-content: center;
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.box sub {
  font-size: 45%;
}
